
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  min-width: 250px;
  margin: auto 1.5em;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: #f2ecda;
}

#navbar {
  position: fixed;
  min-width: 15em;
  width: 90px;
  height: 100%;
  border-right: solid;
  border-radius: 0 95px;
  border-width: thick;
}

header {
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  margin: 1em auto;
  text-align: justify;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;

}

#navbar li {
  list-style: none;
  position: relative;
  marding: 0 auto;
  text-align: right;
  width:80%;
  padding: 0.5em;
}

#navbar a {
  cursor: pointer;
  display: grid;
  text-decoration: none;
  color: #381e52;
  font-size: 1.2em;

}

#main-doc {
  position: absolute;
  margin-left: 20em;
  margin-right: 2em;
  text-align: justify;
}

section li{
  margin: 1.5em 2em;
}

code {
  display: grid;
  margin: 1.5em;
  line-height: 1.6em;
  background-color: #f7f5e9;
  padding: 0.4em;
  border-radius: 45px;
  padding: 1.2em;

}

@media only screen and (max-width:715px) {
  #navbar ul {
    height: 114px;
    line-height: 0.7em;
    position: relative;
    bottom: 2em;
  }

  #navbar {
    position: sticky;
    top: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: none;
    border-bottom: 2px solid;
    max-height: 200px;
    z-index: 1;
    background-color: #f7f5e9;

  }

#navbar header {
  margin: 2em;
}

  #main-doc {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;

  }
}
